<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Best Cars</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li>
        <a class="btn btn-link" href="#"
          >{{ user.first_name }}({{ user.username }})</a
        >
        {% comment %} TODO: implement logout link {% endcomment %}
        <a class="btn btn-link" href="#">Logout</a>
      </li>
      {% else %}
      <li></li>
      <li>
        {% comment %} TODO: implement login link {% endcomment %}
        <a class="btn btn-link" href="#">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
