<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dealership Review</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
      href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
  </head>

  <body>
    {% include 'nav.html' %}

    <h1>
      Welcome to Best Cars dealership, home to the best cars in North America.
      We sell domestic and imported cars at reasonable prices.
    </h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Magna fringilla urna
      porttitor rhoncus dolor. Ligula ullamcorper malesuada proin libero nunc
      consequat interdum varius sit. Pretium quam vulputate dignissim
      suspendisse in. Venenatis a condimentum vitae sapien pellentesque habitant
      morbi tristique senectus. Massa ultricies mi quis hendrerit dolor magna
      eget est lorem. Nulla facilisi morbi tempus iaculis urna id volutpat lacus
      laoreet. Molestie nunc non blandit massa. Euismod quis viverra nibh cras
      pulvinar. Massa tincidunt nunc pulvinar sapien et ligula. Dolor purus non
      enim praesent. Justo donec enim diam vulputate ut pharetra sit.
      Scelerisque eleifend donec pretium vulputate sapien. Purus viverra
      accumsan in nisl nisi scelerisque eu ultrices vitae. Faucibus nisl
      tincidunt eget nullam non nisi est sit.
    </p>
  </body>
</html>
